@charset "utf-8";
/*
 Knight Bootstrap theme by BootstrapTaste.com
 Theme URI: http://bootstraptaste.com/knight-free-bootstrap-theme/
 Author: BootstrapTaste
 Author URI: http://bootstraptaste.com
 */
 
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.otf');
}


body.modal-open {
    overflow-x: hidden;
    overflow-y: auto;
    /*padding-right: 17px !important;*/
}

.modal-no-scroll {
    overflow: auto !important;
}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
    height:100%; /* force the BODY element to match the height of the HTML element */
    padding-right: 0 !important;	
}
h2{
	font-size:34px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:#222222;
	font-size:20px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:400;
}

h4 {
		font-family: 'Montserrat', sans-serif;
}

h6{
	font-size:15px;
	color:#888888;
	font-family: 'Montserrat-Medium', sans-serif;
	font-weight:100;
	text-align:center;
	margin:0 0 20px 0;
	line-height: 30px;
}
p{
	line-height:24px;
	margin:0;
}

/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	background:url(../img/bg.jpg) center no-repeat;
	min-height: 570px;
	background-size: cover;
}
.logo{
	width:130px;
	margin:0 auto 35px;
}

.btn-warning {
	width: 200px;
	height: 50px;
}

.btn-to-left {
	margin-right: 115px;
}

.header h1{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
	padding-top: 100px;
}

.we-create{
	padding:0;
	margin:35px 0 55px;
}
.wp-pic{
	margin-bottom:20px;
}
.we-create li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}
.we-create li:first-child{
	background:none;
}

.start-button {
	padding-left: 0px;
}

.start-button li a{
color: #fff;
}


.link{
	padding:15px 35px;
	background:#7cc576;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	text-decoration:none;
	color:#7cc576 !important;
	background:#fff;
}

.link:active, .link:focus {
	background: #7cc576;
	text-decoration:none;
	color:#fff !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	box-shadow:0 4px 5px -3px #000;
	position:relative;
	background:#000;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color: #7cc576;
}

.small-logo{ 
	padding:0 32px;
}

.main-section{
	padding:30px 0 110px;
}

.main-section .story {
	padding: 0px 20px;
}



/* Services
---------------------------------*/

.service {
	padding: 20px 20px;
}

.service-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom:40px;
}
.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height:38px;
}
.service-list-col2{
	overflow:hidden;	
}
.main-section.alabaster{
	background:url(../img/alabaster-bg.jpg) no-repeat center;
	background-size: cover;
	padding: 150px 0 300px 0;
}

.main-section.alabaster h4 {
	margin-bottom: 50px;
}

.input-transparent {
	background-color: #e4e4e3;
	width: 80%;
	margin: 5px auto;
}

/* Featured Work
---------------------------------*/
.featured-work{
	font-size:14px;
}
.featured-work h2{
	text-align:left;
}
.featured-box{
	padding:0 0 0 0;
	margin-bottom:25px;
	font-size:14px;
}
.featured-box h3{
	margin-bottom:5px;
}
.featured-box p{
	line-height:22px;
}
.featured-work p.padding-b{
	padding-bottom:35px;
}
.featured-box-col1{
	width:60px;
	float:left;
}
.featured-box-col1 i{
	display:block;
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	color:#777777;
	font-style:normal;
}
.featured-box-col2{ overflow:hidden;}
.featured-box.magic{
	background:url(../img/magic.png) left top no-repeat;
}
.featured-box.packaged{
	background:url(../img/packaged.png) left top no-repeat;
}
.featured-box.seo{
	background:url(../img/seo.png) left top no-repeat;
}
.Learn-More{
	display:inline-block;
	padding:0 5px 0 0;
	color:#7cc576;
	font-size:16px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	line-height:24px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	display: none;
}
.Learn-More i{ 
	padding-right:15px;
}

.Learn-More:hover, .Learn-More:focus{ 
	text-decoration:none;
	color: #111;
}


/* Portfolio
---------------------------------*/
.Portfolio-nav{
	padding:0;
	margin:0 0 45px 0;
	list-style:none;
	text-align:center;
}
.Portfolio-nav li{
	margin:0 10px;
	display:inline;
}
.Portfolio-nav li a{
	display:inline-block;
	padding:10px 22px;
	font-size:12px;
	line-height:20px;
	color:#222222;
	border-radius:4px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	background:#f7f7f7;
	margin-bottom:5px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}

.portfolioContainer{
	margin:0 auto;
	padding-left:15px;
}

.Portfolio-box{
	text-align:center;
	margin-bottom:30px;
	height:350px;
	width:350px;
	overflow:hidden;
	padding:0;
}
.Portfolio-box img{
	margin-bottom:25px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;	
}

.Portfolio-box img:hover {
	opacity: 0.6;
}

.Portfolio-nav li a.current{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	  background: #0bcdb3; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(left, #0bcdb3 , #07a491); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(right, #0bcdb3 , #07a491); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(right, #0bcdb3 , #07a491); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(to right, #0bcdb3 , #07a491); /* Standard syntax */	
	  color: #fff;
}

/* Story
---------------------------------*/
.main-section .story{
	  background-color: #fff;
	  color: #000;
}

.image-photo {
	width: 100%;
	height: 200px;
	margin: 15px 0;
	background-size: cover;
}

.image-photo-news {
	width: 100%;
	height: 400px;
	margin: 15px 0;
	background-size: cover;
}

.bg-photo-1 {
	background:url(../img/img-1.jpg) no-repeat center;
	background-size: cover !important;
}

.bg-photo-2 {
	background:url(../img/img-2.jpg) no-repeat center;
}

.bg-photo-3 {
	background:url(../img/img-3.jpg) no-repeat center;
}

.bg-photo-4 {
	background:url(../img/img-4.jpg) no-repeat center;
}

.bg-photo-5 {
	background:url(../img/img-5.jpg) no-repeat center;
}

.bg-photo-6 {
	background:url(../img/img-6.jpg) no-repeat center;
}

/* Clients
---------------------------------*/
.client-part{
	background:url(../img/section-bg1.jpg) center center no-repeat;
	background-size:cover;
	padding:55px 0;
	text-align:center;
}
.client-part-haead{
	color:#fdfdfd;
	font-size:28px;
	line-height:41px;
	margin:30px 0 10px;
	font-family: ''Open Sans',sans-serif';
	font-style: italic;
}
.client{
	padding:0;
	margin:20px 0 0;
	list-style:none;
	text-align:center;
}
.client li{
	display:inline;
	margin:0 15px;
}
.client li a{
	display:inline-block;
}
.client li a img{
	margin-bottom:15px;
	border-radius:50%;
}
.client li a:hover{
	text-decoration:none;
}
.client li a h3{
	color:#ffffff;
}
.client li a span{
	color:#f1f1f1;
}
.quote-right{
	font-style:normal;
	width:68px;
	height:68px;
	margin:0 auto;
	border:2px solid #7cc576;
	border-radius:50%;
	display:block;
	line-height:68px;
	text-align:center;
	font-size:27px;
	color:#7cc576;
	cursor: pointer;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.quote-right:hover{
color: #fff;
border: 2px solid #fff;
}

.c-logo-part{
	background:#7cc576;
	padding:25px 0;
    filter: alpha(opacity=60);
}
.c-logo-part ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
.c-logo-part ul li{
	display:inline;
	margin:0 25px;
}
.c-logo-part ul a{
	display:inline-block;
	margin: 0 20px;
}
.main-section.team{
	padding:40px 0;
}
.main-section.team h6{
	margin-bottom:40px;
}


/* Team
---------------------------------*/
.team-leader-block{
	max-width:993px;
	margin:0 auto;
	padding: 30px 0;
}
.team-leader-box{
	width:20%;
	margin-right: 3.82979%;
	min-height: 490px;
	overflow: hidden;
	text-align: center;
	float: left;
}

.team-leader-volunteer {
	width: 16%;
}
.team-leader-box span{
	margin-bottom:24px;
	display:block;
}

iframe {
	background-color: #fff;
}

.team-leader{
	width:auto;
	height:auto;
	position:relative;
	margin:7px 7px 25px 7px;
	
}
.team-leader-shadow{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
}
.team-leader-shadow a{
	display:block;
	width:100%;
	height:100%;
}
.team-leader:hover .team-leader-shadow{
	box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
}
.team-leader:hover ul{ display:block; opacity:1}
.team-leader img{
	display:block;
}
.team-leader ul{
	display:block;
	opacity:0;
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	margin-top:-14px;
	z-index:15;
	transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
	display:inline;
	margin:0 11px;
}
.team-leader ul li a{
	font-family: 'FontAwesome';
	display:inline-block;
	font-size:28px;
	color:#fff;	
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
	text-decoration:none;
}
.team-leader ul li a.fa-twitter:hover{
	color:#55acee;
}
.team-leader ul li a.fa-facebook:hover{
	color:#3b5998;
}
.team-leader ul li a.fa-pinterest:hover{
	color:#cb2026;
}
.team-leader ul li a.fa-google-plus:hover{
	color:#dd4b39;
}

/* Talk Business
---------------------------------*/
.business-talking{
	background:url(../img/section-bg2.jpg) top center no-repeat;
	background-size:cover;
	padding:60px 0 10px;
	text-align:center;
}
.business-talking h2{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	padding:0;
	margin:20px 0 70px;
	text-transform:uppercase;
	font-size:42px;
	color:#fff;
}


/* Contact
---------------------------------*/
.main-section.contact{
	padding:10px 0 50px;
}

.main-section.contact{
	background:url(../img/bg-map.png) left 190px no-repeat;
}
.contact-info-box{
	font-size:15px;
	margin:0 0 14px 68px;
	padding-left:0;
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box h3 i{
	font-style:normal;
	font-size:18px;
	color:#222222;
	font-family: 'FontAwesome';
	font-weight:normal;
	margin-right:7px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
	overflow:hidden;
}
.social-link{
	display:block;
	overflow:hidden;
	list-style:none;
}

.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}
.pinterest a:hover {
	background: #cb2026;
}
.gplus a:hover {
	background: #dd4b39;
}
.dribbble a:hover {
	background: #ea4c89;
}

.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:175px;
	height:50px;
	background:#7cc576;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background: #111;
	color: #fff;
}

/* Footer
---------------------------------*/

.footer{
	background: #000;
	padding:35px 0 35px;
}
.footer-logo{
	margin:15px auto 35px;
	width: 76px;
}
.copyright{
	color:#cccccc;
	font-size:14px;
	display:block;
}

.input-black {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	margin: 10px 0;
}

.copyright a{
	color:#7cc576;
	font-weight:600;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover {
	color: #fff;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #7cc576 !important;
}

.portfolioContainer{
	max-width: 1140px;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}

.delay-13s { 
	animation-delay: 1.3s; 
	-webkit-animation-delay: 1.3s; 
}

.delay-14s { 
	animation-delay: 1.3s; 
	-webkit-animation-delay: 1.3s; 
}

.delay-15s { 
	animation-delay: 1.4s; 
	-webkit-animation-delay: 1.4s; 
}

.navbar {
	margin-bottom: 0 !important;
	padding-bottom: 20px;
}

.navbar-no-paddingno-padding {
	margin-bottom: 0px;
	padding: 10px 10px;
}

.navbar-default .navbar-nav > li > a {
	color: #e59125;
}

.title-header {
	margin-bottom: 5px !important;
	margin-top: 50px !important;
}

.title-left-header {
	margin-bottom: 5px !important;
	margin-top: 50px !important;
	text-align: left;
}

.title-description {
	color: #fff;
	padding-bottom: 20px;
}

.title-left {
	color: #fff;
	padding-bottom: 20px;
	text-align: left;
}

.main-section.menu-item{
	padding:20px 0;
	height: 650px;
	background:url(../img/bg-menu-item.jpg) top center no-repeat;
	background-size: cover;
}

.item-leader-box{
	width:21%;
	margin-right: 3.82979%;
	overflow: hidden;
	text-align: center;
	float: left;
}

.item-leader-box a {
	color: #e59125;
}

.item-leader-box a:hover, .item-leader-box a:focus {
	text-decoration: none;
}


.text-padding-h2, .text-padding-h4 {
	color: #fde83b;
	text-align: left;
}

.text-padding-h4 {
	font-weight: bold;
}

.text-padding-h4-small {
	color: #fde83b;
	text-align: left;	
	font-weight: bold;	
}

.text-padding-h5 {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	text-align: left;	
}

.text-padding-h6 {
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	text-align: left;	
}

.text-padding-h6-small {
	color: #fff;
	font-size: 11px;
	line-height: 15px;
	text-align: left;	
}

.photo-paddind-small {
	width: 100%;
	height: 250px; 
	background:url('../img/news-small-1.jpg');
	background-size: cover;
}

.photo-paddind-small-2 {
	width: 100%;
	height: 150px; 
	background:url('../img/news-small-1.jpg');
	background-size: cover;
}


.photo-paddind {
	width: 100%;
	height: 220px; 
	background:url('../img/berita.jpg');
	background-size: cover;	
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}

.navbar-brand {
	padding: 0 15px;
}

.text-black {
	color: #000;
}

.text-orange {
	color: #e59125;
}

.text-white {
	color: #fff !important;
}

.text-capitalize {
	text-transform: capitalize;
}

.fa {
	margin: 0 10px;
}

.fa-fb {
	color: #2f5094;
}

.fa-tw {
	color: #4099ff;
}

.fa-wa {
	color: #64d448;
}

.fa-pin{
	color: #bd081c;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  
.orange-button {
	width: 50px;
	height: 25px; 
	background-color: orange;
	color: #fff;	
	padding: 15px 30px;
}

.text-center {
	text-align: center;
}

/*
Modal
*/

.modal-jimmy {
	background-color: #7a88e7;
}

.modal-body {
	padding: 0 !important;
}

.text-margin {
	margin-top: 40px;
}

.text-modal-description {
	margin: 5px 0px 0px 0px;
	font-size: 10px;
	line-height: 20px;
}

.imgmodal {
	bottom: 0;
}

  .item{
    height: 100%;
  }
  
  .item .carousel-caption{
    /*background: rgba(0,0,0,0.3);*/
    color: #fff;
    bottom: 200px;
  }
  .item .carousel-caption h3{
    color:#fff;
    font-size: 40px;
    font-weight: bold;
    text-shadow: none;
  }
  .item .carousel-caption p{
    text-shadow: none;
    font-size: 18px;
  }
  .carousel-indicators {
    bottom: 100px;
    display: none;
  }
  .caption{
    z-index: 2;
    position: absolute;
    min-width: 70%;
    top: 250px;
    left: 15%;
    right: 15%;
  }
  .caption h3{
    color:#fff;
    font-size: 40px;
    font-weight: bold;
  }
  .caption p{
    color:#fff;
    font-size: 20px;
    font-weight:100;
    font-family: 'Arial';
  }
  .btn-caption{
    z-index: 2;
    position: absolute;
    min-width: 70%;
    bottom: 200px;
    left: 15%;
    right: 15%;
  }
  .btn-caption a{
    background-color: #f7b20d;
    color:#fff;
    font-weight: bold;
    font-size: 18px;
    padding:15px 25px;
    border-radius: 5px;
  }
  .btn-caption a:hover{
    text-decoration: none;
    background-color: #f57719;
  }



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #bg-opacity-header {
        margin: -40px;
    }

    .item-leader-box {
    	width: 45%;
    	margin-right: 0;
    	margin-left: 3.82979%;
	}

    .img-opacity-header{
    	height: 100% !important;
		width: 465% !important;
		margin-left: -175%;
		margin-top: -40px;
    }

    #about-bottom-icon p{
    	margin-top: 10px;
		width: 33% !important;
	}
}
  
  